$font-stack: "Roboto Slab";
$header-background-color: #ffffff;
$header-lyrics-color: rgb(87, 87, 87);
$transparent-color: rgba(255, 255, 255, 0);
$black-color: #000000;
$white-color: #ffffff;
$blue-color: #0c75af;
$dark-blue-color: rgba(0, 96, 150, 0.59);
$light-blue-color: #b8e1ff;
$grey-color: #b5b5b5;
$light-grey-color: #ececec;
